.headerBg{
    width: 100%;
    min-height: 100vh;
}
.headerBg::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.9;
    background-image: url('https://i.ibb.co/6JS8Nt8/photo-1616137422495-1e9e46e2aa77-ixid-Mnwx-Mj-A3f-DB8-MHxwa-G90by1w-YWdlf-Hx8f-GVuf-DB8f-Hx8-ixlib-r.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.childHeaderBg{
    width: 100%;
    height: 100%;
}
.childHeaderBg::before{
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background:rgb(0 0 0 / 25%);
}