.navbar-container{
    width: 100%;
    z-index: 5;
}
.navbar-items a{
    padding: 4px;
    margin-right: 1.6rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(0, 0, 0) !important;
}
.navbar-items a:hover{
    color: rgb(255, 138, 28) !important;
    transform: scale(1.05) !important;
    transition: all 0.2s;
}

.navbarBrands h3{
    color: #000000;
    font-size: 2.3rem!important;
    font-family: "Niconne",cursive;
    font-weight: 700!important;
    text-shadow: 2px 2px 0 rgb(112 116 111 / 98%), 3px 3px 0 #343534;
}
.signUpBtn{
    background: #017781;
    border: 0;
    border-radius: 5px;
    transition:all 0.4s;
}
.signUpBtn:hover{
    background: #54bfc9;
}
.logInBtn{
    background: none;
    border: 0;
    border-radius: 5px;
    transition: all 0.3s;
}
.logInBtn:hover{
    background: #017781;
    transition:all 1s;
}
.logInBtn:hover span{
    color:white !important;
}